@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Faculty+Glyphic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "poppins", serif;
}
.dm-sans{
    font-family: 'Dm sans', serif;
}
:root{
    --primary : #090e18;
    --secondary: white
}
/* Style for the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Light background for the track */
}

/* Handle (the draggable part) of the scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #000000; /* Black color for the thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid #ffffff; /* Optional: Adds a white border around the thumb */
}

/* Optional: When hovering over the thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #444444; /* Darker shade when hovered */
}
